<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        <tbody>
            {% for time_slot in schedule %}
            <tr>
                <td>{{ time_slot.time }}</td>
                {% for day in time_slot.days %}
                <td>{{ day }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
</body>
</html>